<div class="container mt-2 mb-2">
  <h1 class="index-title text-center">Welcome to Hero2GO, the number 1 hero for hire service</h1>
</div>

<div class="row mx-5">
  <% @my_heros.each do |hero| %>
    <%= render partial: 'heros_listing', locals: { hero: hero } %>
  <% end %>
</div>
